<hook src="scripts/incrementBuildNum.js" type="after_build"/>

<!-- Android -->
<widget id="com.cognizantmobilityenterprise.schneider" version="2.2.2" android-versionCode="2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
</widget>

<!-- iOS -->
<widget id="com.cognizantmobilityenterprise.schneider" version="2.2.2" ios-CFBundleVersion="2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
</widget>
