@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.search_results_container{
    --padding-start: 4.13vw !important;
    --padding-end: 4.13vw !important;
    ion-col{
        padding: 0;
    }
    .ion-segment{
        margin-top: 1.23vh;
        margin-bottom: 1.85vh;
        border: none;
        height: 2.46vh;
        // margin-left: 4.13vw;
        ion-segment-button{
            margin-top: -1.23vh;
            --background-checked:none;
            opacity: 0.84;
            --padding-start:0;
            --padding-end:2.67vw;
        }
    }
    .search_floating_badge {
        height: 2.46vh;
        background-color: #f1eded;
        color: #151724;
        font-size: 10px;
        font-family: $font-roboto-regular;
        opacity: 0.84;
    }
    .sort_container{
        font-family: $font-roboto-regular;
        color: #666666;
        .rec_text{
            font-size: 13px;
            padding-top: 0.61vh;
        }
        .sort_select{
            padding-bottom: 0.61vh;
        }
    }
}