@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";


.search-result-page{
    .ellipse-col{
        padding-top:15px;
        margin-left:10px;
    }
    .stops_border{
        height:76px;
        margin-left:11px;
        margin-top:0px;
       
    }
    .path_icon{
        width:10px;
        height:8px;
        margin-top:-8px;
        margin-left:7px;
    }
    ion-back-button{
        padding-top:27px;
        ion-icon{
            width:17px;
            height:17px;
        }
    }
}
.search_results_container{
    --padding-start: 4.13vw !important;
    --padding-end: 4.13vw !important;
    --background: #E9E5E1;
    ion-col{
        padding: 0;
    }
    .searchResults_list{
        background: #E9E5E1;
    }
    .ion-segment{
        margin-top: 1.23vh;
         border: none;
        height: 3.46vh;
        // margin-left: 4.13vw;
        ion-segment-button{
            margin-top: -0.53vh;
            --background-checked:none;
            opacity: 0.84;
            --padding-start:0;
            --padding-end:2.67vw;
            border: none;
            @media (max-height: map-get($grid-height-breakpoints, xs)) {
                margin-top:0.5vh;
            }
            @media (max-height: map-get($grid-height-breakpoints, sm)) {
                margin-top:-1.2vh;
            }
            @media (max-height: map-get($grid-height-breakpoints, md)) {
                margin-top:-1.3vh;
            }
        }
    }
    .search_floating_badge {
        height: 17px;
        padding-top: 2px;
        background-color: #f1eded;
        color: #666666;
        font-size: 13px;
        font-family: $font-gtamerica-regular;
        opacity: 0.84;
        border-radius: 0;
    }
    .sort_container{
        font-family: $font-gtamerica-regular;
        color: #666666;
        .rec_text{
            font-size: 13px;
            padding-top: 0.61vh;
        }
        .sort_select{
           padding-bottom: 0.61vh;
          
        }
    }
    .short-div{
        padding: 0 0 5px 0;
        margin-bottom:15px;
        .short-row{
            padding: 0;
            margin-bottom: 10.5px;
        }
    }
    .search-desktop-view{
        display: none;
    }
    @media ( min-width: map-get($grid-breakpoints, lg)) {
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        .ion-segment,.short-div{
            display: none;
        }
        .search-desktop-view {
            display: flex;
            font-family: $font-roboto-regular;
            color: #666666;
            height: 50px;
            padding-top: 16px;
            padding-left: 1.46vw !important;
            padding-right: 1.46vw !important;
            background-color: #EDEDED;
            .rec_text{
                font-size: 13px;
                padding-top: 0.61vh;
            }
            ion-segment{
                height: 2.5vh;
                margin-top: 5px;
                margin-right: 2vw;
                ion-segment-button {
                    min-height: 20px !important;
                }
            }
            ion-img{
                width: 22px;
                margin-left: 15px;
                margin-top: 5px;
            }
            .search_floating_badge{
                padding:0 1px;
            }
        }
        ion-list{
            padding-top: 3px;
            padding-left: 1.46vw !important;
            padding-right: 1.46vw;
            background-color: #f8f8f8;
        }
    }
}
@media ( min-width: map-get($grid-breakpoints, lg)) {
    .search-result-page .page-header{
        height: 8.5vh;
    }
}
.end_of_list{
    border: 2px solid #F85F14;
    background: #ffffff;
    font-size:13px;
    font-family: $font-gtamerica-regular;
    width:165px;
    height:42px;
    position: relative;
    margin:-22px auto 15px auto;
    text-align: center;
    padding: 12px 0 0 0px;
}