@import  "../../../theme/variables.scss";
@import  "../../../theme/responsive-styles.scss";
.manageHeader{
    background: linear-gradient(180deg, #FCA364, #FD7D4F);
    height:29.6vh;
}
.profileImg{
    width: 28.8vw;
    height: 28.8vw;
    border-radius: 50%;
    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        width: 7.8vw;
        height: 7.8vw;
    }
}
.profile-cardContent{
    padding-left:4vw;
    padding-right:4.24vw;
}
.profileHeader{
    text-align: center;
    padding-top: 5.05vh;
    font-family:$font-roboto-regular;
    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        margin-top: 11.6vh;
    }
    .editBadge{
        width: 30px;
        height: 30px;
        background-color: #ffff;
        border-radius: 50px;
        border: 1px #ffff;
        margin: 0px 0px 4px -29px;
    }
    .profileEditIcon{
       width: 13.63px;
        height: 13.61px;
        margin-top: 6px;
    }
}
.profileName{
   
    font-size: 20px ;
    color: #FFFFFF;
 
}
.card_content_background{
    background-color: #FD7D4F;
    ion-col{
        padding: 0;
    }
}
.Dispatcher{
   
    font-size: 14px;
    padding: 0.5vh 0vw;
    color: #FFFFFF;
   
}
.profileEmail{
    font-size: 12px;
    color: #FFFFFF;
  
}
.profileCard{
    height: 9.85vh;
    margin: 0.86vh 2.67vw;
    font-family:$font-roboto-regular;
    box-shadow: 0px 3px 6px #3A4C8212;
    border: 0.5px solid #DEDEDE;
    color: black;
    .carrier-profile{
        font-size: 16px;
        color: #FF6418;
        margin-top: 3.63vh;
        padding: 0;
        opacity: 0.84;
    }
}
.cardContent-space{
    font-family:$font-roboto-regular;
    padding-top:3.08vh;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: white;
}
.profileCard .profileIcon{
    width: 11.07vw;
    height:5.17vh;
    margin-top: 2.4vh;
    margin-bottom: 2.52vh;
}
.manage-profile-arrow-col{
    margin-top: 4.3vh;
    padding-left: 4.27vw !important;
    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
        padding-left: 6.57vw !important;
    }
}
.manage-header{
    .header-md:after{
        height: 0 !important;
    }
}