@import '../../../theme/variables.scss';
@import '../../../theme/responsive-styles.scss';

.menu_page {
  .page-header {
    height: 9.98vh;
    #header-icon{
      padding-top: 3vh;
  }
  }
}
.menu_page_content {
  --padding-top: 2.59vh !important;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}
.menu_list_item {
  --inner-padding-end: 1.62vw;
  --padding-end: 4.27vw;
  --min-height: 5.05vh;
  color: #333333;
  font-size: 14px;
  --border-color: #0000003f;
  font-family: $font-roboto-regular;
}
.menu_list_heading {
  font-size: 14px;
  color: #FF6418;
  text-transform: uppercase;
  font-family: $font-roboto-regular;
  padding-left: 3.36vw;
}
.menu_list_card {
  margin: 0.74vh 0 1.85vh 0;
  box-shadow: 0 3px 6px #3a4c8212;
  border: 0.5px solid #dedede;
}
.list_row {
  border-bottom: 1px solid #3a4c8212;
  padding-bottom: 10px !important;
}
.list_row_heading {
  font-size: 14px;
  color: #232323;
  font-family: $font-roboto-medium;
}
.menu_page_card {
  --padding-start: 11.5px;
  --padding-end: 8.5px;
}
.menu_list_page_content {
  --padding-top: 2.59vh !important;
  ion-card-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
