// /*Modified Styles*/
@import  "../../../theme/variables.scss";
@import  "../../../theme/responsive-styles.scss";
  .right{
    text-align: right;
    padding-right: 0;
  }
  p {
    font-size: small;
    padding-left: 3em;
  }
ion-card-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.search-page{
  .segment_control_tabs{
    width: 82.8vw;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      width: 16vw;
      ion-segment-button{
        max-width: 5.2vw;
      }
    }
  }
}
@media only screen and (min-width: map-get($grid-breakpoints, lg )){
  .search-page-content{
    --background: #ffffff !important;
    // --padding-top: 0px !important;
  }
}