// /*Modified Styles*/
@import  "../../../theme/variables.scss";
@import  "../../../theme/responsive-styles.scss";
  .right{
    text-align: right;
    padding-right: 0;
  }
  p {
    font-size: small;
    padding-left: 3em;
  }
ion-card-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.search-page{
  .desktop-header-desc {
    display: none;
  }
  .segment_control_tabs{
    @media (min-width: map-get($grid-breakpoints, lg)) {
      width: 25vw;
      height: 45px;
    }
  }
}
@media only screen and (min-width: map-get($grid-breakpoints, lg )){
  .search-page{
  .page-header {
    margin-top: 10.5vh;
    height: 3.5vh;
}
  }
  .search-page-content{
    --background: #E9E5E1 !important;
    --padding-top: 0px !important;
  }
}