/*Modified Styles*/
@import  "../../../theme/variables.scss";
@import  "../../../theme/responsive-styles.scss";

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .field {
    padding: 0px;
    border-bottom: 1px solid black;
  }
  .selected {
    color: $primary;
  }
  .input {
    margin-top: -17px;
  }
  p {
    font-size: small;
    padding-left: 3em;
  }
  
  .text {
    font-size: small;
    padding-left: 0.5em;
  }
  .row {
    padding: 0.4em;
  }
  
  // ion-tab-bar {
  //   height: 2.5em;
  //   border-bottom: 0;
  // }
  .cardText {
    font-size: 12px;
  }
  .left {
    text-align: left;
    padding-left: 0;
  }
  .right{
    text-align: right;
    padding-right: 0;
  }
  .center {
    text-align: center;
  }
  ion-card-content {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
  }
  .warningIcon{
    font-size:53px;
    color:darkorange;
  }
  .middle{
  text-align: center;
  padding:31% 21% 21% 21%;
  
  }
  .sort{
    border :0.5px solid black;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
  }
  .sort2{
    border :0.5px solid black;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    margin-left:5px;
  }
  .heading {
    margin-bottom:0px;
    color:darkorange;
    padding-left: 1em;
  }
  .funnelIcon {
    font-size:23px;
    color:darkorange;
  }
  .address {
    border-bottom: 1px solid;
    font-size: smaller;
  }
  .address b {
    color: $primary;
  }
  .details span{
    padding: 5px;
    font-size:small;
  }
  .price{
    text-align: right;
    font-size: large;
    color: $primary;
    padding-top: 10px;
  }
  .priceArrow{
    text-align: right;
    font-size: large;
    padding-top: 8px;
    color:black;
  }
  .detailsRow1{
    margin-left:-12px;
    margin-bottom: -10px;
  }
  .searchHeader {
  
    color: $primary;
    font-size: larger;
  }
  .headerIcon{
    color: $primary;
    font-size: xx-large;
  }
  .headerText {
    padding-top: 10px;
  }
  .button-solid {
    background: $primary;
    --background-focused: $primary;
    --background-hover:$primary;
    border-radius: 30px;
    background-color: rgba(255,132,71,1);
    background:  filter-gradient(#ff8447, #ff6e25, vertical);
    background: background-image(linear-gradient(to bottom, rgba(255,132,71,1) 0%, rgba(255,110,37,1) 100%));
  }
  .detail-card{
      box-shadow: none;
      border: 2px solid darkgrey;
      border-radius: 2px;
  }
  .detail-card ion-card-content{
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
  }
  
  .detail-card ion-list{
    padding: 0 5px;
  }
  .detail-date{
      font-size: 12px;
      color: darkgray;
      margin-left:20px;
  }
  .detail-place{
    font-size: 13px;
    color: black;
  }
  .detail-distance{
    font-size: 13px;
    float: right;
  }
  .devied{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #bbb9b9;
  }
  .detailCol{
    padding-left: 0;
      font-size: 14px;
  }
  .detailkilo{
    margin-left: 8px;
  
  }
  .priceCol{
    text-align: end;
    padding-right: 0;
    padding-top: 0px;
    margin-top: -13px;
  }
  .priceCol span{
    color: $primary;
    font-size: 21px;
  }
  .priceCol ion-icon{
    font-size: 24px;
    margin-bottom: -4px;
    color: black;
  }
  .deatil-cost{
    font-size: 12px !important;
    float: right;
    margin-right: 26px;
    color: black !important;
  }
  .form {
    padding: 0 20px;
  }
  .feild .select-icon {
    visibility: hidden;
  }
  .fadein, .fadeout {
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
  .fadein {
    max-height: 400px;
  }
  .acc-header {
    border-bottom: 1px solid darkgrey;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .acc-header span {
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin-left:-7px;
  }
  .acc-header ion-icon {
    float: right;
    color: black;
    font-size: 31px;
  }
  .cardCol1{
    font-size:13px;
    margin-left:0px;
    line-height:2.1;
  }
  .cardCol{
    padding-left:20px;
  }
  .cardRow{
    margin-top:7px;
  }
  .cardCol2{
    padding-left:14px;
  }
  .oneText{
    font-size:13px;
  }
  .oneText1{
    font-size:13px;
    margin-left:5px;
  }
  .iconCol{
    font-size:32px;
  }
  .cardColIcon{
    font-size:25px;
  }
  .cardCol1Text{
    margin-left:-2px;
  }
  .iconCol1{
    margin-left:-12px;
  }
  .iconCol2{
    margin-left:-53px;
  }
  .iconCol3{
    margin-left:-94px;
  }
  .loadHeader{
    font-size:13px;
  }
  .orSymbol{
    margin-left:10px;
  }
  .cardRowLoad{
    margin-top:0px;
  }
  .sort_dropdown{
    height: 22px;
    width: 185px;
  }
  .segment_control_tabs_search{
    width: 82.8vw;
  }