@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.page-header{
    width:100%;
    height:100px;
    background: linear-gradient(180deg, #FCA364, #FD7D4F);
    // ion-tab-bar{
    //     position: relative;
    //     width: 315px;
    //     height: 38px;
    //     border-radius: 25px;
    //     --background: #F4F5F8;
    //     --color: #000000;
    //     padding: 0px 5px 0px 5px;
    //     margin:auto;
    //     margin-top: 12px;
    //     border:0.5px solid #FBA464;
    //     @media only screen  and (min-width :map-get($grid-breakpoints, xs)) {
    //         width: 275px;
    //       }
    // }
    // ion-tab-button,a{
    //     border-radius: 25px;
    // }

    // .tab-selected{
    //     --background: white;
    //     border-radius: 20px;
    //     height: 30px;
    //     color: #000000;
    //     box-shadow: 0px 2px 5px #00000038;
    //     margin-right:1px;
    // }
    // .tab-selected:active{
    //     --background: #ffd8bc;
    // }
  
}
.desktop-header-desc{
 display: none;       
}
@media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
    #header-icon {
        float: right;
        padding-top: 3vh;
        padding-right: 1.67vw;
    }
    .page-header{
        background: none;
        margin-top: 12vh;
        height: 11.5vh;
        padding-left: 0;
        padding-right: 0; 
    }
    .header-md:after{
        height: 0 !important;
    }
    .header-desc{
        display: none;
    }
    .desktop-header-desc{
        display: unset;
        .header-title {
            font-size: 22px;
            color: #F57423;
            text-align: left;
            font-family: $font-roboto-medium;
            margin-bottom: 1.54vh;
          }
    }
    .segment-row{
        background: #f8f8f8;
        border-bottom: 5px solid #ffffff;
    }
}
.desktop-back-button {
    font-size: 12px;
    width: 12px;
    text-transform: capitalize;
    --color: #FF6418 !important;
    --color-focused: #FF6418;
    --color-hover: #FF6418;
    --background: none;
    --background-focused: none;
    --background-hover: none;
    ion-icon{
        display: none;
    }
}