@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.recent_container{
    --padding-start: 4vw;
    --padding-end: 4vw;
    --padding-top:0px;
    font-family: $font-roboto-regular;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        --padding-start:0;
        --padding-end:0;
        --background: #ffffff;
        .recent-list{
            padding: 0 1.78vw 1.17vh 1.78vw;
            background-color: #f8f8f8;
        }
    }
.header-text{
    padding: 1.85vh 2.13vw;
    font-size: 14px;
    color:#4A4A4A;
    font-family: $font-roboto-regular;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        background-color: #f8f8f8;
      }
  }
  .recent_row{
      line-height: 2;
      letter-spacing: 0.5px;
  }
  .card-dt-recent{
      font-size:12px;
      color:#000000;
      font-family: $font-roboto-regular;
  }
  .card-dist-recent{
      font-size:12px;
      color:#000000;
      margin-top: -6px;
      font-family: $font-roboto-regular;
  }
  .vehicle_type{
      font-size:11px;
      color:#000000D6;
  }
  .loadCardArrow{
      line-height:1.3;
  }
  .card_arrow_img1{
      height: 17px;
      width: 25.5px !important;
      margin-top: 2.5vh;
  }
  .card-arrow{
    margin-left: 5px;
    margin-top: -4px;
    width: auto;
  }
  ion-tab-bar{
    border-top: 1px solid #DEDEDE;
    padding:0px;
    height:43px;
    box-shadow: none;
    font-family: $font-roboto-regular;
    ion-tab-button{
        --background: #FCFCFC;
        color: black;
    }
    ion-label{
        font-size:14px;
    }
    .tabButton_add{
        border-right:0.5px solid #DEDEDE;
       
        .tabButton_col{
            padding-right:1px;
        }
    }
    .tabButtonImg{
        width: 24px;
        float: right;
        height: 15px;
        padding-top: 2px;
      
    }
}
}
.delete_tab{
    ion-col{
        padding: 0 !important;
    }
    .tabButton_col{
        padding-left: 14px !important;
    }
}
.searched-item{
    @media ( min-width: map-get($grid-breakpoints, lg)) { 
        border: 1px solid #ff6418 !important;
        ion-item-sliding{
            height: 136px;
            ion-card-content{
                background: #ffffff !important;
            }
            ion-tab-bar{
                margin-top: 0px !important;
                border-top: none;
                right: 0;
                max-width: 23vw !important;
                padding: 3px 10px;
                ion-tab-button{
                    border: 1px solid #FF6418 !important;
                    border-radius: 17px !important;
                    height: 28px !important;
                    margin-left: 10px;
                    max-width: 7.14vw;
                    color: #ff6418 !important;
                }
                .tabButton_add{
                    padding-left: 0.9vw;
                }
            }
        }
        .favorite_card{
            ion-tab-bar{
                max-width: 15vw !important;
            }
        }
        .delete_tab{
            ion-col{
                padding: 0 !important;
            }
            .tabButton_col{
                padding-left: 14px !important;
            }
        }
    }     
}