@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.recent_container{
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top:0px;
.EnterLoad_recent{
    padding: 15px 23px;
    font-size: 14px;
    color:#4A4A4A;
    font-family: $font-stack;
    margin-top: 14px;
  }
  .recent_row{
      line-height: 2;
      letter-spacing: 0.5px;
  }
  .card-dt-recent{
      font-size:12px;
      color:#000000;
  }
  .card-dist-recent{
      font-size:12px;
      color:#000000;
  }
  .vehicle_type{
      font-size:11px;
      color:#000000D6;
  }
  .loadCardArrow{
      line-height:1.3;
  }
  .card_arrow_img1{
      height: 17px;
      width: 25.5px !important;
  }
  .card-arrow{
    margin-left: 5px;
    margin-top: -4px;
  }
  ion-tab-bar{
    border-top: 1px solid #DEDEDE;
    padding:0px;
    height:43px;
    ion-tab-button{
        --background: #FCFCFC;
        color: black;
    }
    ion-label{
        font-size:14px;
    }
    .tabButton_add{
        border-right:0.5px solid #DEDEDE;
       
        .tabButton_col{
            padding-right:1px;
        }
        .tabButtonImg{
            width:100%;
          
        }
    }
}
}
