@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.search_form_container {
    height: 86%;
    --padding-start: 13px;
    --padding-end: 14px;
    --padding-top:0px;
    @media (max-height: map-get($grid-height-breakpoints, xs)) {
      height: 75%;
    }
    @media (max-height: map-get($grid-height-breakpoints, md)) {
      height: 85%;
    }
  }
.contianer{
    .EnterLoad{
      padding: 15px 4px 11px 13px;
      font-size: 14px;
      color:#4A4A4A;
      font-family: $font-stack; 
    }
    .search-form{
        margin-top:-11px;
        padding: 0px 10px;
        position:relative;
        .new_page_list{
           background-color:#FCFCFC;
           margin-bottom:5px;
           padding:0px;
           .ion-item{
              margin: 0px 5px 0px -11px;
              --background:#FCFCFC;
              bottom:12px;
              letter-spacing: 0.6px;
             }
             .ion-item1{
              margin: 8px 5px 0px 1px;
              --background:#FCFCFC;
             }
            input{
                --padding-top:0px;
                margin-top:8px;
                padding-bottom:4px;
                font-size:15px;
           }
            ion-label {
                color:#000000 !important;
                font-family: $font-stack !important;
                font-size:15px !important;  
                opacity:0.84;
                margin-top:17px;
            }
            .input_icon{
                margin-top: 47px;
                margin-right: -5px;
                margin-bottom:4px;
                width: 16px;
                height: 16px;
            }
           
          .position_icon{
              width: 20px;
              float: left;
              margin-right: 10px;
            }
            .suggestions_input_item{
                    padding-left: 10px;
                    padding-right: 25px;
                   --border-color:#0000003F;
                }
                .suggestions_input{
                  font-size:12px;
                }
                 .suggestions_div{
                      box-shadow: 0px 3px 6px #3A4C8230;
                      width: 100%;
                      margin-top: -13px;
                      border: 0.5px solid #00000021;
                      border-bottom-left-radius: 9px;
                      border-bottom-right-radius: 9px;
                      background:white;
                      z-index:9;
                      position:absolute;
                   .suggestions{
                    list-style:none;
                    width:100%;
                    padding-left:10px;
                    padding-bottom:3px;
                    padding-right: 7px;
                   .suggestions_item{
                     padding-right: 20px;
                     --border-color:#0000003F;
                     .suggestions_list{
                       font-size:12px;
                      
                       font-family:$font-stack;
                       letter-spacing: 0.7px;
                       color:#4A4A4A;
                     }
                   }
              }
                 }
            .ion-label-radius{
               font-size:12px !important;
               margin-bottom: 15px;
               margin-left:3px;
            }
            .pickRadius{
              padding-top:5px;
              margin-left:3px;
            }
            .search_range{
             width: 105%;
             margin-top: -7px;
             padding:1px 17px 1px 5px;
             --knob-background:#F56B01;
             --knob-size:11px;
             --knob-box-shadow:0px 0px 8px 0px darkorange;  
            }
            .new_page_label{
              padding-top:0px !important;
            }
            ion-datetime{
              --padding-top:0px;
              --padding-bottom:0px;
            }
         
        }
      }
  }
  ion-footer{
    position:fixed;
    margin-top: 9px;
    height: 71px;
      border-top: 0.5px solid #DEDEDE;
      ion-toggle{
        --background-checked: #F6D679;
        zoom: 0.7;
        float: right;
      }
      .save_as_favorite{
         margin-top:5px;
         margin-bottom:10px;
        // margin-left:0px;
        .save_as_favorite_text{
            margin-top:3px;
            span{
            font-size:14px;
            color: #000000;
            }
        }
        .new_ion_badges_col{
          padding-top:0px;
        }
    }
    .new_badges{
      width: 33px;
      height: 33px;
      border-radius: 27px;
      padding: 9px 0px 0 9px;
      background:white;
      border: 1px solid #EFEFEF;
      box-shadow: 0px 3px 6px #00000029;
      .cancel_img{
        width:13px;
        height:13px;
      }
      .reset_img{
        width:16.5px;
        height:16.5px;
      }
      .apply_img{
        width:16px;
        height:11.75px;
      }
    }
    .new_badges_cancel{
      margin-left: 40px;
    }
    .new_badge_reset{
      margin-left: 9px;
      padding:8px 0 0 8px;
    }
    .new_badge_apply{
      margin-left: 9px;
      background: #FF6418;
      border:none;
      padding:10px 0 0 9px;
    }
    // .search_buttons{
    //    --border-radius: 20px;
    //     height:144%;
    //     widows: 96%;
    //     font-size: 15px;
    //     background: linear-gradient(180deg, $loginBtnTop, $loginBtnTop);
    // }
    .search_alternate {
        padding:11px 7px 0 7px;
        @media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
          margin: auto;
          width:  map-get($grid-breakpoints, xs);
          margin-top: 21px;
    }
    // .reset_btn {
    //     --background:  white;
    //     --background-focused: white;
    //     --background-hover: white;
    //     color: $primary;
    //     border: 1px solid;
    // }
  }
}
.picker-wrapper.sc-ion-picker-ios{
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 0px -22px 18px #00000021;
  }
  .location_input_icon{
    width: 16%;
    height: 24px;
    position: absolute;
    top: 47px;
  }
  
  .searchLocation .searchbar-search-icon{
    display: none;
    width: 0;
    height: 0;
  }
  .currentLabel{
    margin-left: 2% !important;
  
  }
  .searchLocation .searchbar-input{
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
  }