@import '../../../../theme/variables.scss';
@import '../../../../theme/responsive-styles.scss';

.search_form_container {
  height: 86%;
  --padding-start: 5.33vw;
  --padding-end: 5.33vw;
  --padding-top: 0;
  font-family: $font-roboto-regular;
  font-size: 15px;
  @media (max-height: map-get($grid-height-breakpoints, xs)) {
    height: 75%;
  }
  @media (max-height: map-get($grid-height-breakpoints, sm)) {
    height: 85%;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    --padding-start: 1.78vw;
    --padding-end: 1.78vw;
    height: 170px;
    --background: #f8f8f8;
    --border: none;
    position: inherit;
  }
// }
// .contianer {
  .EnterLoad {
    padding: 2.5vh 1.8vw 2.5vh 0.5vw;
    font-size: 14px;
    color: #000000;
    font-family: $font-roboto-regular;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding: 2vh 0 2vh 5px;
      margin-top: 17px;
    }
  }
  .search-form {
    margin-top: -11px;
    // padding: 0px 10px;
    position: relative;
    .new_page_list {
      background-color: #fcfcfc;
      margin-bottom: 5px;
      padding: 0px;
      .origin-ion-item 
      {
        input{
          margin-left: -85vw;
        }
        .originLabel{
          margin-bottom: 3px !important;
        }
      }
      .origin-ion-item .destinationLabel{
        margin-bottom: 3px !important;
        margin-top: 20.5px;
      }
      .trailer-ion-item .trailer_type_label{
        margin-top: 22px !important;
        font-size: 12px !important;
        padding-left: 5px;
      }
    
      .ion-item {
        margin: 0px 5px 0px -11px;
        --background: #fcfcfc;
        bottom: 12px;
        letter-spacing: 0.6px;
        --min-height: 5.42vh;
        --inner-padding-end:  0px;
      }
      .ion-field-validation{
        --border-color: #e2dcdc;
      }
      .ion-error-field-validation{
        --border-color: #FF0000;
      }
    
      .ion-item1 {
        margin: 8px 5px 0px 1px;
        --background: #fcfcfc;
      }
      input {
        --padding-top: 0px;
        margin-top: 8px;
        padding-bottom: 4px;
        font-size: 15px;
        --placeholder-color: #000000;
        --placeholder-opacity: #000000;
      }
      ion-label {
        color: #666666 !important;
        font-family: $font-roboto-regular !important;
        font-size: 15px !important;
        opacity: 0.84;
        margin-top: 17px;
      }
      
      ion-input {
        margin-top: -1.23vh;
     }
      .input_icon {
        margin-top: 4.3vh;
        margin-right: -5px;
        margin-bottom: 4px;
        width: 16px;
        height: 16px;
      }

      .position_icon {
        width: 18px;
        float: left;
        margin-right: 10px;

     
      }
      .suggestions_input_item {
        padding-left: 10px;
        padding-right: 25px;
        --border-color: #0000003f;
        ion-label{
          margin-top: 9px !important;
          font-size: 16px !important;
          color: #333333 !important;
        }
        ion-input{
          margin-top: 0;
        }
      }
      .suggestions_input {
        font-size: 12px;
      }
      .suggestions_div {
        box-shadow: 0px 3px 6px #3a4c8230;
        width: 100%;
        margin-top: -13px;
        border: 0.5px solid #00000021;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        background: white;
        z-index: 9;
        position: absolute;
        .suggestions {
          list-style: none;
          width: 100%;
          padding-left: 10px;
          padding-bottom: 25px;
          padding-right: 7px;
          .suggestions_item {
            padding-right: 20px;
            --border-color: #0000003f;
            .suggestions_list {
              font-size: 12px;
              font-family: $font-roboto-regular;
              letter-spacing: 0.7px;
              color:#666666;
            }
          }
        }
      }
      .ion-label-radius {
        font-size: 12px !important;
        margin-bottom: 15px;
        margin-left: 3px;
      }
      .pickRadius {
        padding-top: 5px;
        margin-left: 3px;
        @media (min-width: map-get($grid-breakpoints, lg)) {
        
         padding-bottom: 10px;
        }
      }
      .search_range {
        width: 105%;
        margin-top: -1.7vh;
        padding: 0 17px 0 5px;
        --knob-size: 16px;
      }
      .search_range_active{
        --knob-box-shadow: 0px 0px 8px 0px darkorange;
        --ion-color-primary-rgb: 152, 154, 162;
      }
      .search_range_inactive{
        --knob-box-shadow: 0px 0px 8px 0px #989aa2;
        --ion-color-primary-rgb: 152, 154, 162;
      }
      .new_page_label {
        padding-top: 0px !important;
      }
      ion-datetime {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --placeholder-color: #000000;
        --padding-start: 0px;
        font-size: 15px;
       
      }
      .search_select{
        padding-top: 0;
        font-size: 15px;
      }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      .new_page_list{
        background: none;
      }
      .ion-item{
        --background: none !important;
      }
    }
  }
}
ion-footer {
  position: fixed;
  margin-top: 9px;
  height: 8.2vh;
  border-top: 0.5px solid #dedede;
  padding-left: 5.33vw;
  padding-right: 5.33vw;
  ion-toggle {
    --background-checked: #f6d679;
    zoom: 0.7;
    // float: right;
  }
  .favorite-toggle{
    margin-top: 5px;
  }
  .save_as_favorite {
    margin-top: 12px;
    margin-bottom: 10px;
    // margin-left:0px;
    .save_as_favorite_text {
      margin-top: 4px;
      position: relative;
      left: 7px;
      span {
        font-size: 14px;
        color: #000000;
      }
    }
    .new_ion_badges_col {
      padding-top: 0px;
    }
  }
  .new_badges {
    width: 33px;
    height: 33px;
    border-radius: 27px;
    padding: 9px 0px 0 9px;
    background: white;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 6px #00000029;
    .cancel_img {
      width: 13px;
      height: 13px;
    }
    .reset_img {
      width: 16.5px;
      height: 16.5px;
    }
    .apply_img {
      width: 16px;
      height: 11.75px;
    }
  }
  .new_badges_cancel {
    margin-left: 40px;
  }
  .new_badge_reset {
    margin-left: 9px;
    padding: 8px 0 0 8px;
  }
  .new_badge_apply {
    margin-left: 9px;
    background: #ff6418;
    border: none;
    padding: 10px 0 0 9px;
  }
  .search_alternate {
    padding: 11px 7px 0 7px;
    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
      margin: auto;
      width: 360px;
    }
  }
}

.picker-wrapper.sc-ion-picker-ios {
  border-radius: 15px;
  height: 32.2vh;
  bottom: 33% ;
  width: 91.2vw;
  box-shadow: 0px 3px 6px #00000069;
  @media (max-height: map-get($grid-height-breakpoints, xs)) {
    bottom: 25%;
  }
  @media (max-height: map-get($grid-height-breakpoints, sm)) {
    bottom: 32%;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    bottom: 23%;
    height: 50.11vh;
    width: 24.3vw;
  }
}

.location_input_icon {
  width: 16%;
  height: 24px;
  position: absolute;
  top: 47px;
}

.searchLocation .searchbar-search-icon {
  display: none;
  width: 0;
  height: 0;
}
.currentLabel {
  margin-left: 2% !important;
}
.searchLocation .searchbar-input {
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
}
.picker-opt.picker-opt-selected, .picker-prefix, .picker-suffix {
  color: $primary;
  font-size: 18px;
  font-family: $font-roboto;
}

.sc-ion-picker-ios {
  color: black !important;
  button {
    font-size: 16px !important;
    font-family: $font-stack !important;
  }
}
.picker-col{
  padding-inline-start: 0;
  padding-inline-end: 0;
  height: 22.35vh;
}
.picker-toolbar {
  height: 6.5vh !important;
  padding-top: 0.5vh;
  padding-left: 2.4vw;
  padding-right: 2.4vw;
  border-bottom: .25px solid #e8e8e8 !important;
}
.picker-columns{
  background-color: #FAFAFA;
}
.picker-above-highlight{
  border-bottom: 0.25px solid #eaeaea !important;
}
.picker-below-highlight{
  border-top: 0.25px solid #eaeaea !important;
  bottom: 0;
}
// ion-picker{
//   ion-backdrop{
//     background-color: transparent;
//   }
// }
.toggle-div{
  display: flex;
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .serach-page-footer-desktop{
    bottom: auto !important;
    width:86vw;
    margin-top: 0;
    border:none;
    padding-left: 1.78vw !important;
    padding-right: 1.78vw !important;
    height: 70px;
    ion-col:last-child{
      text-align: right;
    }
  }
}
.footer-col{
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
.pickupdate-error{
  margin-top: -9px;
  margin-left: 4px;
  padding-left: 0;
  color: #FF0000;
  font-size: 11px;
}
.pick-error{
  display: block;
}
.pick-without-error{
  display: none;
}
.origin-input_icon{
  margin-left: 81vw;
  width: 16px;
  height: 16px;
}
.search-desktop, .radious-dropdown{
  display: none;
}
.date-feild{
  width: 100%;
  padding: 0px;
  .input_icon {
    margin-top: 0vh !important ;
    float: right;
  }
}
.dropdown-button{
  --background:  transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  color: #000000;
  --color-activated: #000000;
  --color-focused: #000000;
  --box-shadow: none;
  --padding-start: 0px;
  --padding-end:0px;
  width: 97%;
  text-transform: capitalize;
  font-family: $font-roboto-regular;
  border-bottom: 1px solid #e2dcdc;
  height: 24px;
  margin-left: 7px;
  ion-row{
    width: 100%;
  }
  ion-col{
    padding: 0;
  }
  ion-col:first-child{
    text-align: left;
  }
  ion-col:last-child{
    text-align: right;
    padding-right: 2px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  i {
    border: 1px solid #FF6418;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-top: -4px;
    // margin-left: 263px;
  }
}
.serach-page-footer-desktop{
  display: none;
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .trailer-ion-item{
    width: 252px;
  }
  .mobile-view, .EnterLoad, .ion-item1{
    display: none;
  }
  .radious-dropdown{
    display: block;
    width: 252px;
    margin: 0;
  }
  ion-label{
    margin-left: 10px !important;
  }
  .search-desktop{
    display: block;
    margin-top: 40px;
    ion-col{
      padding: 0px;
      text-align: left;
    }
    
    .ion-item{
      --inner-border-width: 0px;
      font-size: 12px;
    }
    ion-input{
      --padding-start: 9px !important;
    }
    ion-input,.date-feild {
      margin-top: 0px !important;
      background: white;
      border-radius: 9px;
      box-shadow: 0px 1px 2px #00000029;
      height: 30px;
      max-width: 252px;
      margin-bottom: 2px;
    }
    .date-feild{
      width: 252px;
      margin: 0 0 2px 0;
    }
    .dropdown-button {
      --background:  white;
      --background-focused: white;
      --background-hover: white;
      --background-activated: white;
      color: #000000;
      --border-radius: 9px;
      font-size: 12px;
      --color-activated: #000000;
      --color-focused: #000000;
      --box-shadow: 0px 1px 2px #00000029 !important;
      height: 30px;
      width: 252px;
      --padding-start: 0px;
      --padding-end:0px;
      ion-row{
        width: 100%;
      }
      ion-col{
        padding: 0;
      }
      ion-col:first-child{
        text-align: left;
        padding-left: 9px;
      }
      ion-col:last-child{
        text-align: right;
        padding-right: 9px !important;
      }
    }
    .trailer_type_dropdown{
      ion-col:first-child{
      padding-left: 9px;
      }
      ion-col:last-child{
       padding-right: 9px !important;
      }
      i {
        margin-left: 138px;
      }
    }
    ion-datetime{
      --padding-top: 7px !important;
      --padding-bottom: 7px !important;
      font-size: 12px !important;
      --padding-start: 9px !important;
      height: 42px;
    }
    .date-feild .input_icon {
      margin-top: 1vh !important;
      margin-right: 9px !important;
    }
    .origin-input_icon {
      margin-left: 235px;
      width: 10px;
      height: 10px;
    }
    .origin-ion-item input {
      margin-left: -245px !important;
  }
  }
  .new_page_list input{
    font-size: 12px !important;
    --padding-top:7px !important;
    padding-bottom:7px !important;
    margin-top: 0px !important;
  }
  .serach-page-footer-desktop{
    background-color: #F8F8F8;
    bottom: auto !important;
    width:86vw;
    margin-top: 0;
    border:none;
    padding-left: 1.78vw !important;
    padding-right: 1.78vw !important;
    height: 70px;
    ion-toggle {
      zoom: 0.7;
      // float: right;
    }
    ion-col:last-child{
      text-align: right;
    }
    .call_btn:last-child{
      --background: #ff6418;
      --background-focused: #ff6418;
      --background-hover: #ff6418;
      color: white;
    }
    .save_as_favorite_text{
      font-size: 12px;
      margin-top: 3px;
      margin-left: 10px;
    }
  }
  .footer-md:before{
    background-image: none !important;
  }
  .serach-page-footer{
    display: none;
  }
  .serach-page-footer-desktop{
    display: block;
  }
  .suggestions_input_item{
    ion-label{
      margin-bottom: 5px !important;
    }
    ion-input{
      box-shadow: none;
    }
  }
  .suggestions_div{
    width: 90% !important;
    margin-left: 6px !important;
  }
}
.options_content{
  height: 177px;
  overflow: scroll;
}
