.carrier-subheading{
    font-size: 12px;
    color: #555555;
}
.profile-form-control{
    font-size:14px;
    color: black;
font-family:var(--ion-font-family);
padding-bottom: 13.5px;
}
.carrier-card{
    margin-top: 21.5px;
}  
.certificate-png{
    width:35.5px !important;
    height:35.5px;
}
.certificate-card{
    height: 81px;
    padding: 18px 10px 15.5px 13px;
}

.Hazmat{
    color: black;
    margin-top: 9px !important;
    background: var(--ion-item-background,transparent);
}
.HazmatDate{
    margin-top: 9px !important;
    text-align: right;
}
.certification-header{
    font-size: 14px;
   color:var(--ion-color-primary);
    padding-left: 23px;
}