
@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";
.carrier-subheading{
    font-size: 12px;
    color: #555555;
}
.profile-form-control{
    font-size:14px;
    color: black;
font-family:$font-stack;
padding-bottom: 13.5px;
}
.carrier-card{
    margin-top: 21.5px;
}  
.certificate-png{
    width:35.5px !important;
    height:35.5px;
}
.certificate-card{
    height: 81px;
    padding: 18px 10px 15.5px 13px;
}

.Hazmat{
    color: black;
    margin-top: 9px !important;
    background: var(--ion-item-background,transparent);
    font-size: 14px;
    font-family: $font-stack;
}
.HazmatDate{
    margin-top: 9px !important;
    text-align: right;
}
.certification-header{
    font-size: 14px;
   color:var(--ion-color-primary);
    padding-left: 23px;
        padding-top: 7px;
        font-family: $font-stack;
}
.carrier-profile-ionitem{
    width:95%
}
.carrier-ionitem2{
    padding-top: 16.52px;
}
.profile-form-control2{
    margin-bottom: 13px;
}
.profile-form-control2 .input{
    padding-left: 6%;
}
.InsuranceRow{
    padding-bottom: 6px;
}
.Insurance-png{
    width: 28.78px !important;
    height:35.16px;
}
.insuranceText{
    text-align:center;
}
.insurance-carrier-card{
    margin-top: 11.5px;
}