/* 

This is a  generic font used across the  app for all the text elements
Font : Helvetica Neue
Regular 


This font used exclusively for city names 
Font :Roboto Medium' 
medium 

*/

@font-face {
    font-family: 'Helvetica Neue';
    font-style: regular;
    font-weight: 100;
    src: local('Helvetica Neue '), local('Helvetica Neue'), url("/assets/fonts/HelveticaNeue.ttf") format('truetype');
  }

@font-face {
  font-family:'Roboto Medium';
  font-style: regular;
  font-weight: 100;
  src: local('Roboto Medium '), local('Roboto Medium'), url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
  font-family:'Roboto Regular';
  font-style: regular;
  font-weight: 100;
  src: local('Roboto Regular'), local('Roboto Regular'), url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family:'Roboto Bold';
  font-style: regular;
  font-weight: 100;
  src: local('Roboto Bold'), local('Roboto Bold'), url("/assets/fonts/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family:'GT America Bold';
  font-style: regular;
  font-weight: 100;
  src: local('GT America Bold'), local('GT America Bold'), url("/assets/fonts/GT America Bold.ttf") format('truetype');
}
@font-face {
  font-family:'GT America Regular';
  font-style: regular;
  font-weight: 100;
  src: local('GT America Regular'), local('GT America Regular'), url("/assets/fonts/GT America Regular.ttf") format('truetype');
}

@font-face {
  font-family:'Segoi Semi Bold';
  font-style: regular;
  font-weight: 100;
  src: local('Segoi Semi Bold'), local('Segoi Semi Bold'), url("/assets/fonts/seguisb.ttf") format('truetype');
}
  