/* 

This is a  generic font used across the  app for all the text elements
Font : Helvetica Neue
Regular 


This font used exclusively for city names 
Font :Roboto Medium' 
medium 

*/

@font-face {
    font-family: 'Helvetica Neue';
    font-style: regular;
    font-weight: 100;
    src: local('Helvetica Neue '), local('Helvetica Neue'), url("/assets/fonts/HelveticaNeue.ttf") format('truetype');
  }

  @font-face {
    font-family:'Roboto Medium';
    font-style: regular;
    font-weight: 100;
    src: local('Helvetica Neue '), local('Helvetica Neue'), url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
  }

  