/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

//Primary_Theme

$primary: #ff6418;
$secondary: #3e3e3e;
$danger: #ff0000;
$light: #fdebdf;
$dark: #3e3e3e;
$white: #fff;
$lightBlack: #00000066;
$black: #000000b2;
$silver: #bebebe;
$nobel: #b4b4b4;
$wildSand: #f6f6f6;
$karry: #fee7d8;
$doveGray: #696565;
$darkPink: #f6d6791a;
$brown: #ff64184d;
$tundora: #4a4a4a;
$darkgray: darkgray;
$alto: #dedede;
$darkblue: #3a4c8212;
$grey: #dddedfa1;

$colorTop: #ff8447;
$colorBottom: #ff6e25;
$gradientTop: #fa934f;
$gradientBottom: #f5560f;
$loginBtnTop: #fe8347;
$loginBtnBottom: #fe6d25;

/*
.primary-gradient { 
  background: linear-gradient($colorTop,$colorBottom); 
} */
/*
$gradients: map-merge((chill: linear-gradient(135deg, $colorTop 0%,$colorBottom 100%));
*/

//Future_Theme
/*
$primary:    #FF6418;
$secondary:  #3E3E3E;
$danger:     #FF0000;
$light:      #FDEBDF;
$dark:       #3E3E3E;
$white:     #fff;
*/

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */

  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto';
}

/* Set text color of the entire app for iOS only */
.ios {
  --ion-text-color: $secondary;
}

/* Set text color of the entire app for Material Design only */
.md {
  --ion-text-color: $secondary;
}
// Font path is used to include ionicons,
// Helvetica Neue and Roboto fonts

@import 'typography.scss';

@import 'responsive-styles.scss';

// @import "Helvetica";
$font-stack: 'Roboto Medium';
$font-roboto: 'Helvetica Neue';
$font-roboto-regular: 'Roboto Regular';
$font-roboto-medium: 'Roboto Medium';
$font-roboto-bold: 'Roboto Bold';
/*
body {
  font: 100% $font-stack;
  color: color($colors, primary);
} */

// ion-button {
//   //background-color: $primary;
//   // background-color: rgba(255, 132, 71, 1);
//   // background: filter-gradient(#ff8447, #ff6e25, vertical);
//   // background: background-image(
//   //   linear-gradient(
//   //     to bottom,
//   //     rgba(255, 132, 71, 1) 0%,
//   //     rgba(255, 110, 37, 1) 100%
//   //   )
//   // );
// }

.tab_footer_label {
  font-size: 12px;
  margin-top: 1px;
  font-family: $font-roboto-regular;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
      margin-top: -17px;
      margin-left: 15px;
      font-size: 14px;
      text-transform: uppercase;
    }
}
.search_label {
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    margin-top: -19px;
    margin-left: 27px;
  }
}
.execute_label {
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    margin-left: 34px;
  }
}
.tab_footer_label_manage {
  font-size: 12px;
  margin-top: 0;
  font-family: $font-roboto-regular;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: -26px;
    margin-left: 30px;
  }
}
.tab_footer_label_more {
  font-size: 12px;
  margin-top: 5px;
  font-family: $font-roboto-regular;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    font-size: 14px;
    margin-top: -15px;
    text-transform: uppercase;
    margin-left: 13px;
  }
}
.tab-selected {
  color: $primary !important;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    background: white;
    border-radius: 27px;
    height: 41px;
  }
}
ion-tab-bar {
  height: 8.37vh;
  --background: linear-gradient(180deg, #ffffff, #f3f3f3);
  box-shadow: 0px 0px 27px #bdbaba;
  ion-tab-button{
    color: #000000 !important;
  }
  ion-icon {
    height: 25px;
    margin-bottom: 0;
    width: 37px;

    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
      height: 18px;
      margin-left: -55px;
      width: 19px;
    }
  }
  .manage_icon {
    height: 28px;
  }
  .more_icon {
    height: 20px;
    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
      height: 11px;
      width: 14px;
      margin-top: 10px;
    }
  }
}
.ion-card {
  margin: 0px 1px 10px 1px !important;
  border: 0.5px solid $alto;
  box-shadow: 0px 3px 6px $darkblue;
  border-radius: 5px;
}
ion-content {
  --background: #fcfcfc;
}
.custom-padding {
  --padding-top: 1px !important;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    --padding-top: 0 !important;
    --padding-start: 20px !important;
    --padding-end: 20px !important;
  }
}
.home-page{
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --background: #ffffff !important;
  }
}
.arrow_forward {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: 1px solid #ff8a51;
  padding: 4px;
  border-width: 1.5px 1.5px 0 0;
}
ion-back-button {
  --color: white !important;
  --icon-font-size: 30px !important;
  --icon-padding-start: 10px !important;
}
// .button-solid {
//   background: $primary;
//   --background-focused: $primary;
//   --background-hover:$primary;
//   border-radius: 30px;
//   background-color: rgba(255,132,71,1);
//   background:  filter-gradient(#ff8447, #ff6e25, vertical);
//   background: background-image(linear-gradient(to bottom, rgba(255,132,71,1) 0%, rgba(255,110,37,1) 100%));
// }
:host {
  --bar-background: rgba(var(--ion-color-primary-rgb,255,100,24),1);
}
ion-select{
  .select-icon{
    .select-icon-inner{
      opacity: 0 !important;
    }
  }
}
.select-icon-inner {
  border-top: transparent!important;
}

.select-alert{
  .alert-wrapper {
    height: 259px !important;
    min-width: 205px !important;
  }
  .alert-head{
    padding: 0 !important;
  }
  .alert-title{
    font-family: $font-roboto-regular;
    font-size: 14px !important;
  }
  .alert-button{
    font-size: 14px !important;
    font-family: $font-roboto-regular;
  }
  .alert-button-group{
    button:first-child{
      color: black;
    }
  }
  .alert-radio-group {
    font-size: 13px;
    button {
      border-bottom: 0.25px solid #0000003F !important;
    }
  }
}