/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


//Primary_Theme

  $primary:    #FF6418;
  $secondary:  #3E3E3E;
  $danger:     #FF0000;
  $light:      #FDEBDF;
  $dark:       #3E3E3E;
  $white:     #fff;
  $lightBlack:#00000066;
  $black: #000000B2;
  $silver:    #BEBEBE;
  $nobel:     #B4B4B4;
  $wildSand:  #F6F6F6;
  $karry:     #FEE7D8;
  $doveGray:  #696565;
  $darkPink:  #F6D6791A;
  $brown:     #FF64184D;
  $tundora:     #4A4A4A;
  $darkgray:  darkgray;
  $alto:    #DEDEDE;
  $darkblue: #3A4C8212;
  $grey: #DDDEDFA1;
  


$colorTop: #ff8447;
$colorBottom: #ff6e25;
$gradientTop: #FA934F;
$gradientBottom: #F5560F;
$loginBtnTop:#FE8347;
$loginBtnBottom:#FE6D25;

/*
.primary-gradient { 
  background: linear-gradient($colorTop,$colorBottom); 
} */
/*
$gradients: map-merge((chill: linear-gradient(135deg, $colorTop 0%,$colorBottom 100%));
*/

//Future_Theme
/*
$primary:    #FF6418;
$secondary:  #3E3E3E;
$danger:     #FF0000;
$light:      #FDEBDF;
$dark:       #3E3E3E;
$white:     #fff;
*/

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */


  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto";
}

/* Set text color of the entire app for iOS only */
.ios {
  --ion-text-color: $secondary;
}

/* Set text color of the entire app for Material Design only */
.md {
  --ion-text-color: $secondary;
}
// Font path is used to include ionicons,
// Helvetica Neue and Roboto fonts  

@import "typography.scss";

// @import "Helvetica";
$font-stack: "Roboto Medium";
$font-roboto: "Helvetica Neue";
/*
body {
  font: 100% $font-stack;
  color: color($colors, primary);
} */


ion-button {
  //background-color: $primary;
background-color: rgba(255,132,71,1);
background:  filter-gradient(#ff8447, #ff6e25, vertical);
background:  background-image(linear-gradient(to bottom, rgba(255,132,71,1) 0%, rgba(255,110,37,1) 100%));
}

ion-label
{
font-size: 13px;  
}

.tab_footer_label {
  font-size: 12px;
  margin-top: 1px;
}
.tab_footer_label_manage{
  font-size: 12px;
  margin-top: 0;
}
.tab_footer_label_more{
  font-size: 12px;
  margin-top: 5px;
}
.tab-selected{
  color: $primary;
}
ion-tab-bar{
  height: 8.37vh;
  --background: linear-gradient(180deg, #FFFFFF, #F3F3F3);
  ion-icon {
    height: 25px;
    margin-bottom: 0;
    width: 37px;
  }
  .manage_icon{
    height: 28px;
  }
  .more_icon{
    height:20px;
  }
}
.ion-card{
  margin: 0px 1px 10px 1px !important;
  border:0.5px solid $alto;
  box-shadow: 0px 3px 6px $darkblue;
  border-radius:5px;
}
ion-content{
  --background:#FCFCFC;
}
.custom-padding{
 --padding-top: 1px !important;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}
.arrow_forward {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: 1px solid #FF8A51;
  padding: 4px;
  border-width: 1.5px 1.5px 0 0;
}
ion-back-button{
  --color: white !important;
 
}