@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.search_sortby_select{
    height: 100%;
    text-align: left;
    border-radius: 12px;
    color: var(--ion-color-primary);
    // margin-top: -2px;
    opacity: 0.9;
    ion-button{
      background-color: #fcfcfc;
    }
    .search_sort_button{
      height: 99%;
      --background: transparent;
      --background-focused: #FF6418;
      --background-hover: #FF6418;
      --background-activated: #FF6418;
      --color: #FF6418;
      --border-radius: 11px;
      font-size: 12px;
      border: 0.5px solid #999999;
      --box-shadow: none;
      padding-left: 1px;
      margin-top: 1px;
      text-transform: unset;
      float: right;
      font-family: $font-roboto-regular;
      border-radius: 30px;
      --color-activated: white;
      --color-focused:white;
      --color-hover:white;
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      i {
        border: 1px solid #FF6418;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        margin-top: -4px;
        float: right;
        margin-left: 5px;
      }
    }
    .activated {
      i{
        border: 1px solid white;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        margin-top: -4px;
        margin-left: 5px;
      }
    }
  }
  .search_options{   
    box-shadow: 0 3px 6px #3A4C8230;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin-top: 65%;
    margin-left: 22%;
    width: 205px;
    height: 259px;

    ion-row{
      border-bottom: 0.25px solid #0000003F;
      padding-left: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
      color:#000000;
    }
    ion-row:first-child{
      font-size: 14px;
      text-align: center;
      padding-left: 0;
      color: #000000;
      font-family: $font-roboto-bold;
    }
    ion-row:last-child{
      border-bottom: none;
      font-size: 14px;
      ion-col{
        text-align: center
      }
      ion-col:first-child{
        color: #000000;
        border-right: 0.25px solid #0000003F;
      }
      ion-col:last-child{
        color: #FF6418;
      }
    }
  }
  .dropdown-modal{
    --background: none;
  }
  .checked{
    color: #FD7D4F;
    .check {
      display: inline-block;
      transform: rotate(45deg);
      height: 18px;
      width: 9px;
      border-bottom: 3px solid #FD7D4F;
      border-right: 2px solid #FD7D4F;
      float: right;
      margin-right: 12px;
      margin-top: -6px;
    }
  }
