/*Modified Styles*/
@import '../../../theme/variables.scss';
@import '../../../theme/responsive-styles.scss';

ion-toolbar {
  ion-title {
    color: $white;
  }
}

ion-header {
  background-color: $wildSand;
  height: 150px;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    height: 200px;
    padding-top: 70px;
  }
  @media only screen and (min-width: map-get($grid-breakpoints, xr)) {
    padding-top: 40px;
  }
  .header_toggle_div {
    width: 239px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: 14px;
    @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
      margin-top: 42px;
    }
  }
  transition: top 0.6s;
}
.page-header .header-desc {
  height: 100%;
}
.page-header ion-col {
  height: 100%;
  display: table;
}
.page-header ion-col * {
  vertical-align: middle;
  display: table-cell !important;
  margin: auto;
}
.hide-header {
  top: -50px;
}
.dropDown_col {
  margin-left: -41px;
  padding-right: -13px;
  padding-left: 17px !important;
}
.sort_label {
  margin-left: 10px;
  margin-top: 5px;
  color: #666666;
  font-size: 12px;
  font-family: $font-roboto-regular;
}
.sort_label_search {
  font-weight: bold;
}
.short-div {
  padding: 20px 0 10px 0;
  background-color: #fcfcfc;
  @media only screen  and (min-width :map-get($grid-breakpoints, lg)) {
    background-color: #f8f8f8;
    padding: 20px 20px 10px 20px;
   }
  ion-col {
    padding: 0;
  }
  .short-row {
    padding-top: 20px;
    @media only screen  and (min-width :map-get($grid-breakpoints, lg)) {
      padding-top: 0;
    }
  }
  .rec_text {
    font-size: 12px;
    color: #666666 !important;
    padding-top: 0.5px;
    padding-bottom: 0;
    font-family: $font-roboto-regular;
    .recommendations_num {
      font-size: 13px;
      font-family: $font-roboto-bold;
    }
  }
  ion-badge {
    // margin-left: 5px;
    // height: 22px;
    // width: 122px;
    // text-align: left;
    // background-color: $karry;
    // border: 1px solid var(--ion-color-primary);
    // border-radius: 20px;
    // color: var(--ion-color-primary);;
    // float: left;
    ion-label {
      font-size: 11px;
    }
    .badge_sortby_select {
      color: var(--ion-color-primary);
      font-size: 11px;
      margin-top: -7px;
      float: left;
      padding-left: 8px;

      .select-placeholder {
        opacity: 0.8;
      }
    }
  }
  .badge_sortby_select .select-icon-inner {
    margin-top: -7px;
  }
  .header_badge_select {
    margin-left: 12px;
    width: 85px;
    ion-select {
      top: -8px;
      float: left;
      padding: 9px;
    }
  }
}
.card_filter_badge {
    height: 11px;
    background-color: transparent;
    color: #151724;
    font-size: 12px;
    font-family: "Roboto Regular";
    border-radius: 0;
    margin-right: 5px;
    font-weight: normal;
    border-right: 1px solid #999999;
    padding-top: 0;
}

#header-title {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  font-family: $font-roboto-medium;
}

.card_arrow_img {
  width: 24px !important;
  content: url("/assets/icon/arrow.svg");
  @media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
    width: 54px !important;
    content: url("/assets/icon/arrow-desktop.svg");
  }
}
.card-content {
  padding-left: 2px;
  padding-right: 7px;
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    padding-left: 10px;
    padding-right: 15px;
    background-color: #ffffff;
  }
}

.card-col {
  size: 5.5px;
}

.card-name {
  font-size: 14px;
  color: #ff6418;
  opacity: 0.8;
  font-family: $font-roboto-medium;
}

.card-dt {
  font-size: 12px;
  color: #000000;
  font-family: $font-roboto-regular;
}

.card-dist {
  font-size: 12px;
  color: #666;
  font-family: $font-roboto-regular;
}

.card-icon {
  font-size: 30px;
  margin-top: 13px;
}

.right {
  text-align: right;
  padding-right: 0;
}

.card_price {
  text-align: right;
  font-size: 18px;
  color: #333333;
  font-family: $font-roboto-medium;
}
.sn-toggle {
  .sn-layer {
    position: relative;
    top: 50%;
    width: 100%;
    height: 38px;
    overflow: hidden;
    background-color: $grey;
    z-index: 1;
    border-radius: 100px;
  }
  button {
    background: none;
    margin-left: 4px;
    font-size: 14px;
    line-height: 2;
    border: none;
    min-width: 64px;
    margin-top: 4px;
    padding-left: 18px;
    text-align: left;
  }

  button:last-child {
    margin-right: 5px;
    float: right;
    padding-right: 12px;
  }

  button:active,
  button:focus {
    border-radius: 20px;
    background-color: $white;
    outline: none;
  }
}
.new-search {
  width: 325px;
}
.recommended {
  width: 239px;
}
ion-item-divider {
  min-height: 1px !important;
}
.recommended-Error {
  font-size: 18px;
  padding: 0px;
  margin-top: 35px;
}
.recommended-Error-img {
  opacity: 100%;
}
.No-Recommended {
  text-align: center;
  padding: 21px;
  padding-top: 78px;
  @media (max-height: map-get($grid-height-breakpoints, xs)) {
    padding: 0;
    padding-top: 0;
  }
}
.RecommendedSearch {
  text-transform: inherit;
  font-size: 21px;
  margin: auto;
  width: 82vw;
  height: 55px;
}
.SearchLoadBtn {
  padding-top: 65px;
  @media (max-height: map-get($grid-height-breakpoints, xs)) {
    padding-top: 20px;
  }
}
.load-search {
  font-size: 2rem;
}

.loadCardFooter {
  padding-top: 6px;
  .card_filter_badge:last-child{
    border-right: none;
  }
}
.loadCardArrow {
  text-align: -webkit-center;
  // padding-top: 19px;
}

.sortby_select_div {
  height: 22px;
  width: 148px;
  text-align: left;
  border-radius: 12px;
  margin-left: 5px;
  ion-label {
    font-size: 11px;
  }
  ion-select {
    margin-left: 3px;
  }
}
.select_div {
  display: -webkit-inline-box;
  height: 21px;
  float: right;
}

.margin_end {
  margin-left: 100px;
}

.last_select_div {
  width: 80px;
  margin-left: 40px;
}
.header_edit_search_button {
  margin-right: 16px;
  float: right;
  margin-top: -35px;
  .button_solid {
    border-radius: 17px;
  }
}
.header_search_bubble {
  width: 100%;
  padding: 15px 15px 0 15px;
}
ion-segment-button {
  --indicator-color-checked: #f6f6f6;
}
.loadTilePad {
  padding-top: 0;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background-color: #f8f8f8;
    --padding-start: 20px !important;
    padding: 0 20px 10px 20px;
    margin-bottom: 50px;
  }
}
.logout_btn {
  width: 100px;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
.load_details_header {
  max-height: 81px !important;
  padding-left: 10px;
  .header_title {
    margin-top: 35px;
    color: #ffffff;
    font-size: 22px;
  }
}
.segment_control_tabs {
  position: relative;
  border-radius: 25px;
  padding: 0px 5px 0px 5px;
  margin: -4.5vw auto;
  width: 63.74vw;
  background: #f4f5f8;
  border: 0.5px solid #fba464;
  height: 10.13vw;
  padding-top: 1.25vw;
  z-index: 1;
  ion-segment-button {
    --color: #000000;
    --background-checked: #ffffff;
    --color-checked: #000000;
    border: none;
    height: 7.62vw;
    font-family: $font-roboto-regular;
    --background-activated: #e5e5ed;
    transition: 0.3s ease-in-out;
    --background-hover: #e5e5ed;
    ion-label {
      font-size: 14px;
      color: #000000;
    }
    border-radius: 25px;
  }
  .segment-button-checked {
    box-shadow: 0 2px 5px #00000038;
  }
  .segment_recommended {
    width: 34.5vw;
  }
  @media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
    width: 17.82vw;
    height: 3.9vh;
    padding-top: 0.25vw;
    margin: 0vw auto;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-left: 0;
    background: #f8f8f8;
    ion-segment-button{
      height: 99%;
      max-width: 9vw;
      border-radius: 0;
      ion-label {
        font-size: 1.53vmin;
      }
    }
    .segment-button-checked {
      box-shadow: -5px 0 5px -5px #00000038, 5px 0 5px -5px #00000038;
      border-top: 3px solid #F57423;
      border-radius: 5px 5px 0 0;
      ion-label {
        color: #FF6418;
      }
    }
  }
}
.priceLogo {
  width: 25.78px !important;
  height: 25px !important;
  float: right;
}
.sortArrows {
  border: 1px solid #999999;
  border-radius: 9px;
  width: 40px;
  height: 20px;
  margin-top: 1px;
  padding-left: 8px;
  ion-icon{
    height: 11.41px;
    width: 9.8px;
  }
}
// .downArrow {
//   transform: rotate(45deg);
//   -webkit-transform: rotate(45deg);
//   border: 0.5px solid #999999;
//   border-width: 0 1px 1px 0;
//   display: inline-block;
//   padding: 3px;
//   margin-top: -11px;
//   float: right;
//   margin-left: 7px;
//   margin-right: 16px;
//   height: 4px;
// }
// .line {
//   border: 1px solid #999999;
//   border-width: 0 1px 0px 0;
//   height: 11px;
//   margin-left: 10px;
//   display: inline-block;
// }
// .line1 {
//   border: 1px solid #ff6418;
//   border-width: 0 1px 0px 0;
//   height: 11px;
//   margin-left: 8.7px;
//   display: inline-block;
// }
// .upArrow {
//   transform: rotate(-135deg);
//   -webkit-transform: rotate(-135deg);
//   border: 1px solid #ff6418;
//   border-width: 0 1px 1px 0;
//   display: inline-block;
//   padding: 3px;
//   margin-top: -13px;
//   float: right;
//   margin-left: 0px;
//   margin-right: 6.5px;
//   height: 4px;
// }
.visitedCard {
  width: 4px;
  height: 114px;
  background-color: #a9d671;
  float: left;
  margin-left: -3px;
}
.sortArrowsCol {
  padding-left: 5px !important;
}
.gps-list {
  color: #666666;
  font-size: 8px;
  font-family: $font-roboto-regular;
  height: 90vh;
  overflow: auto;
}
.app-page{
  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
   background-color: #ff6418;
  }
}
.tab-bar-profile{
  display: none;
}
.copyright-div{
  display: none;
}
@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .tab-bar-div {
    background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
    height: 10.4vh;
    padding: 0 7vw;
    .tab-bar-logo {
      margin-top: 37px;
    }
    .tab-bar-profile {
      float: right;
      margin-top: 25px;
      width: 121px;
      display: unset;
      ion-img{
        height: 42px;
        width: 42px;
      }
      ion-col{
        padding: 0;
      }
      .name-col {
        padding-left: 2px;
        span:first-child{
          font-size: 11px;
          color: #999999;
        }
        span:last-child{
          font-size: 14px;
          color: #282828;
        }
      }
      .downArrow{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: 1.2px solid #FE6332;
        border-width: 0 1.3px 1.3px 0;
        display: inline-block;
        padding: 3.5px;
        margin-top: 10px;
        margin-right: 13px;
      }
    }
  }
  .tab-bar-heighlater{
    background: linear-gradient(180deg, #FA934F 0%, #F5560F 100%);
    height: 6px;
    margin-bottom: 0;
  }
  .desktop-page-container{
    margin: auto;
    border: 1px solid #f3f3f3;
    .desktop-page{
      padding: 0 7vw;
    }
  }
  .copyright-div{
    display: block;
    background-color: #5e5e5e;
    height: 2.9vh;
    color: #ffffff;
    font-size: 1.25vmin;
    padding: 0.5vh 7vw;
    bottom:0;
    span:last-child{
      float: right;
    }
  }
}