/*Modified Styles*/
@import  "../../../theme/variables.scss";
@import  "../../../theme/responsive-styles.scss";

.main-title {
  font-size: 8vw;
  font-weight: bold;
  color: $white;
}
.page-header {
  font-family: $font-roboto-regular;
  ion-toolbar
  {
    background-color: $primary;
    --background: transparent;
  }
}
.login_content_padding{
  --padding-top: 1.97vh !important;
  --padding-start: 6.8vw !important;
  --padding-end: 6.8vw !important;
  --padding-bottom: 1.97vh !important;
}
.root-page {
  .login-contianer {
      background: #FCFCFC;
      padding: 3.09vh 0 1.23vh;
      .login_form_feild{
        background-color: #FCFCFC;
        ion-item{
          --background: #FCFCFC;
        }
        ion-img:last-child{
          cursor: pointer;
        }
      }
      input{
          color: $black;
          padding-bottom: 1.23vh;
          font-size: 15px;
      } ion-label {
          color: #707070;
          font-size:15px;
          margin-top:1.48vh;
          
      }
      ion-item:first-child {
        margin-bottom: 1.85vh;
      }
      span{
        font-size: 13px;
        float: right;
        color: #707070;
        margin-right: 1.6vw;
        margin-top:0.86vh;

      }
      
  }
  .login_remember_link{
    ion-col{
      padding: 0
    }
    padding-bottom: 6.17vh;
    .login_remember_text{
      float:left;
      padding-left: 1.33vw;
    }
  }
  .-container {
      margin: 3vh 0vw;
  }
  .login-btn {
    --border-radius: 20px;
    height: 5.56vh;
    font-size: 18px;
    border-radius: 30px;
    background: linear-gradient(180deg, $loginBtnTop, $loginBtnTop);
    .button-solid {
      background: $primary;
    --background-focused: $primary;
    --background-hover:$primary;
    border-radius: 30px;
    background-color: $primary !important;
    }
  }
  
  .login_alternate {
    // padding: 0 1vh;
    clear: both;
    margin-top: 2.6vh;
    @media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
      margin: auto;
      width:  map-get($grid-breakpoints, xs);
      margin-top: 2.6vh;
    }
    .login_withmobile_btn {
      --background:  white;
      --background-focused: white;
      --background-hover: white;
      color: $primary;
      border: 1px solid;
      border-radius: 20px;
      font-size: 14px;
      margin-bottom: 3.7vh;
    }
    .sign_up{
      text-align: center;
      .signup_link{
        font-size: 15px;
      }
  }
}
.list-ios{
  margin-bottom: 1.23vh;
}
.container-title {
  font-size: 2vw;
  color: $primary;
}
.login_input_icon{
  padding-bottom: 0;
  margin-top: 4.32vh;
  margin-right: -1.07vw;
}
.img_div{
  float:left;
}
.login_devider_line{
  background-color: $silver;
  width:40%;
  float:left;
}
.login_devider_text{
  float:left;
  font-size:16px;
  color: $nobel;
  padding: 0 3.2vw;
}

.login_logo_container, .login_logo_container_change{
  background: linear-gradient(180deg, #FCA364, #FD7D4F);
  height: 22.6vh;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  #header_logo {
    margin-top:9.26vh;
    -webkit-transition:  margin-top 0.5s ease-in-out;
  -moz-transition:  margin-top 0.5s ease-in-out;
  -o-transition:  margin-top 0.5s ease-in-out;
  transition:  margin-top 0.5s ease-in-out;
  }
}

.login_logo_container_change{
  height: 12.35vh;
  #header_logo {
    margin-top:3.7vh;
  }
}
ion-toggle{
  --background-checked: #F6D679;
  zoom: 0.8;
  // float: right;
}

#errorMsg
{
  margin: auto;
  height: 3.7vh;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: #FF0000;
  font-family: $font-roboto-regular;
}
.dot {
  height: 1.23vh;
  width: 2.7vw;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
#errorDot{
  margin: auto;
  text-align: center;
  font-size: 11px;
  color: white;
}

#header_logo
{
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
    width:10%;
  }
  @media only screen  and (min-width : map-get($grid-breakpoints,md) ) {
    width: 25%;
  }
}

.login_devider {
  padding: 3.2vh 0 1.6vh 3.5vw;
}

.login_error{
  --border-color:#FF0000;
}
/* Desktops and laptops ----------- */

@media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
  /* Styles */

       .login-contianer
       {
         margin: auto;
         width:  map-get($grid-breakpoints, xs);
       }
       @media only screen  and (min-width : map-get($grid-breakpoints, lg) ) {
         /* Styles */
       
            
       ion-content
       {
          margin: auto;
          padding-right: calc((100% - #{map-get($grid-breakpoints, lg)}) /2);
          padding-left: calc((100% - #{map-get($grid-breakpoints, lg)}) / 2);
          
       
       }
       }
}
}