


.carrierContent{
    --padding-top: 4.3vh !important;
    --padding-start: 4vw !important;
    --padding-end: 4vw !important;
    .CarrierLoads{
        padding: 46.5px 15.5px 0px 15.5px;
    }
    
}