@import  "../../../../theme/variables.scss";
@import  "../../../../theme/responsive-styles.scss";

.carrierContent{
    --padding-top: 4.3vh !important;
    --padding-start: 4vw !important;
    --padding-end: 4vw !important;
    .CarrierLoads{
        padding: 46.5px 15.5px 0px 15.5px;
    }
    
}
.driver-assign-confrim{
    --start: 4vw !important;
    --end: 4vw !important;
    max-height: 90%;
    font-family: $font-roboto-regular !important;
    font-size: 14px !important;
    --background: #3D3D3E !important;
    // --height: 40px !important;
    --box-shadow: 0px 3px 6px #3A4C8212 !important;
    .toast-content{
        padding-top: 10px !important;
    }
    
}